@import '../../../../globals/style.scss';

.list-middle {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.list-list {
	margin-left: auto;
	margin-right: auto;
}

.list-each {
	// border-bottom: 1px solid $pixi-second-color;

}

.list-empty-msg {
	display: block;
	margin-top: 10%;
	width:100%;
	text-align:center;
	font-size:2.5em;
	color:lighten(black, 75.0);
}

.list-empty-msg-subt {
	display: block;
	margin-top:8px;
	width:100%;
	text-align:center;
	color:lighten(black, 75.0);
}