@import '../../globals/style.scss';

.tb-base {
    display: flex;
	flex-direction: row;
	width: 100%;
	height: $pixi-topbar-gheight;
	background-color: $pixi-base-color;
	box-shadow: 0px 1px 1px 1px $pixi-base-color;
	// box-shadow: 0px -10px 10px -10px #000 inset;
	z-index: 2;
	position: relative;
}

.tb-base-subdiv {
	flex: 1;
	color: white;
};	


.tb-base-title {
    text-align: center;
	color: $pixi-second-color;
	line-height: $pixi-topbar-gheight;
	font-size: 2.1em;    
}

.tb-base-button {
    @extend .pixi-base-color-button;
    line-height: $pixi-topbar-gheight;
    text-align: center;
    color: white;
    display: inline-block;
    width: $pixi-topbar-gheight;
    height: $pixi-topbar-gheight;
	cursor: pointer;
}

.tb-base-user-button {
	@extend .pixi-base-color-button;
    line-height: $pixi-topbar-gheight;
    text-align: center;
    color: white;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
    height: $pixi-topbar-gheight;
	cursor: pointer;
}

.tb-base-middle-channel {
	display: flex;
	width: 100%;
	height: 100%;
}

.tb-base-middle-center {
	display: inline-block;
}

.tb-base-space-filler {
	display: inline-block;
	flex: 1;
}