@import '../../globals/style.scss';

.ucd-title {
  font-weight: bold;
  color: $pixi-second-color;
};

.ucd-nsfw {
  font-weight: bold;
  color: $pixi-base-color;
};

.ucd-preview-outter {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  margin: 16px;
  padding: 0px;
  opacity: 0.0;
}

.ucd-preview-img {
  margin: 0px;
  padding: 0px;
  box-shadow: 5px 6px #888888;
}

.ucd-preview-anim {
  transition: opacity 0.5s;
  opacity: 1.0;
}