<div class="grid-base">
	<div class="grid-middle">

		<div class="grid-list" *ngFor="let content of contents">
			<div class="grid-each">
				<component-post id="{{ 'post-' + content.orderId }}" [channel]="channel" [content]="content"></component-post>
			</div>
		</div>
		<!-- <div style="display: flex; width: 100%; flex-direction: column;" *ngIf="nothingToShow">
			<span class="grid-empty-msg">Woops. This gridnel is empty.</span>
			<span class="grid-empty-msg-subt">Be the first one to post!</span>
		</div> -->
	</div>
</div>