<div class="about-base">
    <div class="about-top">
        <span class="about-title">What is <span class="about-title-pixi">Pixi</span>?</span>
    </div>
    <span class="about-bottom">
        <span class="about-text">

            <span style="display: block;">
                <p>
                    <span class="about-title-pixi">Pixi</span> is mix of social network and discussion forum with anonymity in mind. It's mainly oriented to multimedia consumption, 
                    but it's very well equipped for commenting and sharing ideas. "Personas" are the first-class citizen. A Persona can post, vote, comment and create/manage channels.
                </p>
            </span>
           
            <span style="display: block;">
                <p>
                    User accounts may have one or multiple Personas. Channels are managed by their respective Mod Personas.
                    They establish rules and are in their power to enforce them. 
                </p>
                <p>                
                    For example, a Mod Persona of a channel is able to ban another Persona and its user account, so no other Persona from that account will be able to post,
                    but the Mod Persona cannot see the account owner of the banned Persona or its other Personas. This ensures strict anonymity with everyone, including from staff members.
                </p>                
                <p>                
                    <span class="about-title-pixi">Pixi</span>'s most important value is <span style="font-weight:bold;">Freedom of Speech</span>. However, to ensure the wellbeing of
                    the whole community and harmony between users, we shall enforce a short but strict list of rules, known as the 
                    <span style="font-weight:bold;">Global Rules</span>.
                </p>                               
            </span>   

            <span style="display: block; text-align: left">
                <span style="font-weight:bold;">Global Rules</span>
                <ol>
                    <li>
                        <span style="font-weight:bold;">SPAMMING</span> is not allowed.
                    </li>                    
                    <li><span style="font-weight:bold;">NSFW</span> content <span style="font-weight:bold;">MUST</span> always be marked as such.</li>
                    <li><span style="font-weight:bold;">NSFW</span> channels (porn, morbid or triggering content) <span style="font-weight:bold;">MUST</span>
                        always be marked as such.
                    </li>
                    <li>No child pornography, or any other banned content according to the U.S. Law for that matter.</li>
                    <li>Content <span style="font-weight:bold;">MUST</span> always be relevant to the topic of the channel.</li>
                    <li>Ban avoidance <span style="font-weight:bold;">WILL</span> result in a permanent ban of any account.</li>
                    <li>Staff impersonation is strictly forbidden.</li>     
                    <li>
                        Someone saying mean things to a user is <span style="font-weight:bold;">NOT</span> a bannable offense. This will fall under mods discretion, of course, but Free Speech still
                        is the most important value in this website. Unless it is downright <span style="font-weight:bold;">SPAM</span>, insulting or "hate speech" are not bannable offenses.
                    </li>   
                    <li>Lastly but not least, we very much encourage our users to deliver good/high quality content.
                    </li>        
                </ol>
            </span>      
            
            <span style="display: block; text-align: left">
                <p>
                    Global Rules apply to all channels. Violation of some of these rules may result in a permanent
                    ban for the user or Persona, and/or content deletion.
                </p>
            </span> 

            <span style="display: block">
                <span style="font-weight:bold;">Some Technical Policies</span>
                <p>                
                    <span class="about-title-pixi">Pixi</span> allows for images and videos uploads with certain limitations. Images are restricted to PNG, JPG, BMP and GIF of up to
                    10 megabytes(10737418240 bytes) per image. Videos, on the other hand, are restricted to WEBM and MP4 of up to 10 megabytes(10737418240 bytes) and 6 minutes time limitation per video.
                    A post is limited to 10 images or 5 videos. A post may consist of images and videos, where a video is equivalent to 2 images. This means a post may consist 2 videos and 6 images, or
                    4 videos and 2 images, and so on.
                </p>
                <p>
                    Channels may be setup so only a specific type of content is allowed. For example, a channel may have audio disabled on its videos. A video uploaded to this kind of 
                    channel will be stripped off of its audio completely. Another example would be a channel where only images are allowed to be uploaded.
                </p>
                <p>
                    Any video or image uploaded will automatically be completely stripped off of its metadata to protect user's anonymity.
                </p>
            </span>             

        </span>
    </span>
</div>